<div class="container-fluid">
  <div class="p-4 row">
    <div class="col-12">
      <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6">
          <div class="card p-2">
            <div class="row">
              <div class="form-group col-4">
                <label class="label-input">Classe e Nível</label>
                <input class="form-control" type="text">
              </div>
              <div class="form-group col-4">
                <label>Antecedente</label>
                <input class="form-control" type="text">
              </div>
              <div class="form-group col-4">
                <label>Nome do Jogador</label>
                <input class="form-control" type="text">
              </div>
              <div class="form-group col-4">
                <label>Raça</label>
                <input class="form-control" type="text">
              </div>
              <div class="form-group col-4">
                <label>Alinhamento</label>
                <input class="form-control" type="text">
              </div>
              <div class="form-group col-4">
                <label>Pontos de experiência</label>
                <input class="form-control" type="text">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      tESTE2
    </div>
    <div class="col-4">
      tESTE3
    </div>
    <div class="col-4">
      tESTE4
    </div>
  </div>
</div>
